server {
    listen {{ nginx_port }};
    server_name _;

    location /lighthouse {
        alias {{ lighthouse_install_dir }}/;
        index index.html;
    }

    location / {
        return 404;
    }
}